/* body */

body {
    font-family: "Inter", serif;
    color: #FFFFFF;
    background-color: #121212;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Banner */

#banner {
    background-image: url("images/banner-img.png");
    background-size: cover;
    background-position: 0 30%;
    height: 200px;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0px 0px 40px #242424;
}

div#banner>h1,
div#banner>p,
#search-bar,
#search-btn {
    position: relative;
    z-index: 2;
}

div#banner>h1 {
    margin-left: 30px;
}

div#banner>p {
    margin-right: 20px;
    font-weight: bold;
}

/* Search bar */

#search-bar-container {
    text-align: center;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    background-color: #2E2E2F;
    color: #A5A5A5;
    width: 70%;
    height: 46px;
    max-width: 600px;
    border: none;
    border-radius: 6px 0px 0px 6px;
    margin-top: -20px;
    padding-left: 1.2em;
    transition: background-color 0.5s;
}

#search-btn {
    background-color: #4B4B4B;
    color: #FFFFFF;
    height: 47px;
    border: none;
    border-radius: 0px 6px 6px 0px;
    width: 20%;
    max-width: 200px;
    margin-top: -20px;
    cursor: pointer;
    transition: background-color 0.5s;
}

#search-bar:hover,
#search-btn:hover {
    background-color: #3e3e3e;
    transition: 0.5s;
}

/* Movie list */

#movie-list {
    color: #2E2E2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div#movie-list>p {
    font-weight: bold;
    margin-top: 8px;
}